<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default panel-table">
        <div class="panel-heading">
          <div class="row">
            <div class="col col-xs-3">
              <label>Start Date</label>
              <input type="date" class="form-control" name="startDate" placeholder="Search Timestamp"
                     [(ngModel)]="startDate">
            </div>
            <div class="col col-xs-3 text-right">
              <label class="pull-left">End Date</label>
              <input type="date" class="form-control" name="endDate" placeholder="Search Timestamp"
                     [(ngModel)]="endDate">
            </div>
            <div class="col col-xs-3 text-right pull-left">
              <button class="btn btn-primary"
                      [disabled]="!startDate || !endDate"
                      style="width: 100px; margin-top: 25px;"
                      type="submit"
                      (click)="searchByTimestamp()">
                Filter
              </button>
            </div>
            <div class="col col-xs-3 text-right pull-left">
              <button class="btn btn-primary"  type="submit" [disabled]="!startDate && !endDate" style="width: 100px; margin-top: 25px;" (click)="clearFilter()">Clear Filter</button>
            </div>

          </div>
        </div>
        <div class="panel-body">
          <div *ngIf="error">
            <div class="jumbotron">
              <div class="alert alert-danger">
              <strong> Data Not Found From Server.</strong>
            </div>
            </div>
          </div>
          <div *ngIf="!error">
          <table class="table table-striped table-bordered table-list"  *ngIf="showData">
            <thead>
              <!--<th (click)="sortById()" style="cursor: pointer">Id</th>
              <th>Decision</th>-->
              <th>Tweet Polarity</th>
              <th (click)="sort('currentPrice')" style="cursor: pointer">Current Price</th>
              <th>Predicted Price</th>
              <th (click)="sort('timestamp')" style="cursor: pointer">Timestamp</th>
            </thead>
            <tbody>
              <tr
                *ngFor="let data of btcPredictData  | paginate: { itemsPerPage: 30, currentPage: p } | orderBy:order:ascending">
                <!--<td>{{data._id.time}}</td>
                <td>{{data.decision }}</td>-->
                <td>{{data.tweet_polarity}}</td>
                <td>{{data.currentPrice}}</td>
                <td>{{data.predictedPrice}}</td>
                <td>{{data.timestamp}}</td>
              </tr>
            </tbody>
          </table>
          </div>
          <table class="table table-striped table-bordered table-list" *ngIf="!showData">
            <thead>
              <!--<th (click)="sortById()" style="cursor: pointer">Id</th>-->
              <th (click)="sort('Time')" style="cursor: pointer">Time</th>
              <th (click)="sort('Price')" style="cursor: pointer">Price</th>
              <th>Volume</th>
              <th>Polarity</th>
            </thead>
            <tbody>
              <tr
                *ngFor="let data of priceVolumePolarityFeedData  | paginate: { itemsPerPage: 30, currentPage: p } | orderBy:order:ascending">
                <!--<td>{{data._id.time}}</td>-->
                <td>{{data.Time }}</td>
                <td>{{data.Price}}</td>
                <td>{{data.volume}}</td>
                <td>{{data.Polarity}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="panel-footer">
          <div class="row">
            <div class="col col-xs-8">
              <ul class="pagination hidden-xs pull-right">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
