<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default panel-table">
        <div class="panel-heading">
          <div class="row">
            <div class="col col-xs-6">
              <input type="text" class="form-control" name="searchName" placeholder="Search Name"
                     [(ngModel)]="searchName" (ngModelChange)="searchByName()">
            </div>
          </div>
        </div>
        <div class="panel-body">
          <table class="table table-striped table-bordered table-list">
            <thead>
            <th (click)="sortName()" style="cursor: pointer">Name</th>
            </thead>
            <tbody>
            <tr *ngFor="let data of apiData | paginate: { itemsPerPage: 10, currentPage: p } | orderBy:order:ascending"
                [routerLink]="['/page2', data]" style="cursor: pointer">
              <td>{{data}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="panel-footer">
          <div class="row">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
